tweakpng.aps
.vs/
*.user

# Legacy build files
Debug
DebugU
Release
ReleaseU
Debug32
Release32
Debug64
DebugU64
Release64
ReleaseU64

# Build files
/build/

# Vcpkg and installed packages
/vcpkg/
vcpkg_installed/
